pyYaml
pyJWT
Jinja2
zipfile36
jupyter
ipywidgets
requests
pytest
pytest-html
cryptography
pandas
numpy
cython
ipython
pyyaml
pysnmp
paramiko
papermill
git+https://github.com/psf/black
matplotlib
openpyxl
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability