PyYAML
PyJWT
Jinja2
nbconvert
ipywidgets
requests
pytest
pytest-html
cryptography
pandas
numpy
cython
ipython
pysnmp==4.4.12
pyasn1==0.6.3
paramiko
papermill
black
matplotlib
openpyxl
diagrams
Pillow
tornado>=6.5.5
voila